body{
    background-color: white;

}
.test{
    height: 100%;
    width: 100%;
}
.content{
    background-color: white;
    position: absolute;
    /* border:1px solid grey; */
    top: 0;
    height: 100%;
    width: 79%;
    left:11%;
    margin:auto;
}
.header{
    background-color: honeydew;
    margin-top: 20px;
    font-family: sans-serif;
    text-align:center ;
    overflow: hidden;
    margin-top: 0;
}
.post{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* margin: auto; */
    width: 350px;
    height: 420px;
    /* border: 2px solid red; */
    /* position: relative; */
}
img{
    margin: 0;
    width: 350px;
    height: auto;
    /* position: absolute; */
}
.photo{
    margin: 0;
    background-color: white;
}
.title{
    height: 30px;
    width: 100%;
    background-color: honeydew;
    top:0;
    position: relative;
}
p{
    margin: 0;
}
.date{
    position: absolute;
    top:0;
    left: 92%;
    width: 30%;
    margin: 0;
    /* border: 2px solid red; */
}
.name{
    width: 60%;
    margin: 0;
    /* border: 2px solid red; */
}
.footer{
    margin: 0;
    height: 30px;
    width: 100%;
    background-color: honeydew;
}